<tr>
  <td class="timespan"><%= short_format_date(timespan.start) + " - " + short_format_date(timespan.finish) %></td>
  <td class="count"><%= timespan.count_posts %></td>
  <td class="count">
    <%= timespan.count_docids %>
  </td>
  <td class="count">         <%= timespan.count_reviews %></td>
  <td class="count">         <%= timespan.count_replies %></td>
  <% if @timespan.editor -%>
    <td class="count">         <%= timespan.count_reviews_of %></td>
    <td class="count">         <%= timespan.count_replies_to %></td>
  <% end -%>
  <td class="count" id="avg"><%= timespan.avg_reviews_per_post %></td>
  <td class="count" id="no_reviews"><%= timespan.count_posts_with_no_reviews %></td>
  <td class="count" id="one_review"><%= timespan.count_posts_with_one_review %></td>
  <td class="count" id="two_reviews"><%= timespan.count_posts_with_two_reviews %></td>
  <td class="count" id="three_reviews"><%= timespan.count_posts_with_three_reviews %></td>
</tr>
